name: OWASP Dependency Check

on:
  push:
    branches:
      - "**"

jobs:
  dependency-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@v3
        with:
          project: "NodeGoat"
          path: "."
          format: "HTML"
          out: "reports"

      - name: Upload dependency-check reports
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports
